.bg404 {
  background-image: url(../src/images/404-1280x720.png) ;
  background-position: top; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  height: 800px;
  width: 100%;

}
.Main-Wrapper {
  display: flex;
}
h2 {
  margin-top: 0;
  height: 50px;
  background: rgba(0, 169, 236, 0.925);
  text-align: center;
}
.home_page , .users_page {
  width: calc(100vw - 170px);
  height: 50px;
  background: rgba(0, 169, 236, 0.925);
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  
}
.about-wrapper {
  width: calc(100vw - 170px);
  
}
a {
  
  text-decoration: none;
  color: black;
  font-size: 23px;
  font-weight: bold;
  margin-top: 10px;
  background-color: rgb(231, 218, 31);
  
}
.menu {
  
  display: flex;
  flex-direction: column;
  background-color: rgba(251, 255, 2, 0.226);
  height: 100vh;
  padding-left: 10px;
  
 
  
  
}
nav {
  width: 160px;
}
.active {
  background-color: rgb(147, 126, 206);
}
.main-page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: left;
}


.main-menu {
  
  height: 55px;
  background-color: chocolate;

  
}
.StarWarsApi {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  
  
}
.api_wrapper {
  padding-left: 25px;
  padding-right: 25px;
  border-left: 1px solid #000;
  border-right: 1px solid black;
  background: rgba(0, 195, 255, 0.062);
  height: 110%;
  
}
.ApiNotFound h1 {
  padding: 20px;
  background: rgba(255, 0, 0, 0.171);
}
.Planet-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.Planet-wrapper li {
  padding: 30px;
  list-style: none;
}
ul.pagination{
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination li{
  display: inline-block;
  padding: 1px;
}
.pagination a{
  padding: 10px;
  border-radius: 10%;
  background-color: rgba(31, 151, 231, 0.664);
  font-size: 15px;
  color: white;
}
.pagination .active a{
  background-color: rgb(44, 44, 44);
}
